pytest~=8.1
rich~=13.7
elevate>=0.1,<1.0.0
click>=8.1,<9
psutil~=5.9
requests>=2.31,<3
beautifulsoup4~=4.12
humanize>=4.9.0
elevate~=0.1
httpx[http2,socks,brotli]~=0.27.0
click-aliases~=1.0
toml; python_version < "3.11"
appdirs~=1.4
matrix-nio~=0.25
