pytest~=7.3
rich~=13.3
elevate~=0.1
click~=8.1
psutil~=5.9
requests~=2.31
beautifulsoup4~=4.11
humanize~=4.4
elevate~=0.1
httpx[http2,socks,brotli]~=0.23
click-aliases~=1.0
toml; python_version < "3.11"
appdirs~=1.4
